.message {
    margin-top: 24px;
    text-align: right;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    position: relative;
}

.text {
    background-color: #0066CC;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 10px;
    padding: 7px 13px;
    margin-right: 15px;
    position: relative;
}

.text:after {
    content: '';
    position: absolute;
    right: -17px;
    bottom: 0px;
    border-left: 15px solid #0066CC;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 10px solid #0066CC;
    box-shadow: 0px 1px rgba(20, 33, 38, 0.1);
}

.name {
    font-weight: 600;
}

.messageText {
    font-family: 'Montserrat', sans-serif;
    white-space: pre-wrap;
}

.time {
    font-weight: 600;
    font-size: 10px;
    display: inline;
    margin-top: 5px;
    margin-right: 10px;
}